{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <form method="POST" action="">
            <table id="results" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Transaction ID
                    </th>
                    <th>Account NO
                    </th>
                    <th>Description
                    </th>
                    <th>Time
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                <tr>
                    <td align="center">A</td>
                    <td align="center">B</td>
                    <td align="center">C</td>
                    <td align="center">D</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script type="text/javascript" src="/js/adminHandler.js"></script>
{{/partial}}
{{> adminBase}}