{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <label>Search Employee: </label>
        <input type="text" placeholder="Search..">
        <br>
        <button> Add Employee</button>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script type="text/javascript" src="/js/adminHandler.js"></script>
{{/partial}}
{{> adminBase}}