<HTML>
<Head>
<title> Authorize transactions</title>
<link rel="stylesheet" href="/css/tier2.css">
</Head>
<body>
<div class="sidenav">
  <a href="sidebar.html">Home</a>
  <a href="Auth.html">Authorize Transactions</a>
  <a href="account.html">User Control</a>
</div>
<div class="main">
<h1> Authorize Transactions</h1>
</div>
</body>
</html>