{{#partial "body"}}
    <link rel="stylesheet" type="text/css" href="/css/authstyle.css">
    <div class="main">
        <h1> Authorize Transactions</h1>
    </div>
    <div>
        <table id="auth">
            <thead>
            <tr>
                <th align="center">User ID</th>
                <th align="center">Tansaction Amount</th>
                <th align="center">Authorize/Deny</th>
            </tr>
            </thead>
        {{#each auth}}
            <form method="POST">
                <tr>
                    <td align="center">{{ id }}</td>
                    <td align="center">{{ transaction }}</td>
                    <td>
                        <input id="update" class="btn btn-primary" type="button" name="update" onclick="location.href='/api/v1/tier2/Authorize/{{ id }}'" value="Authorize"/>
                        <input id="delete" class="btn btn-primary"  type="button" name="delete" onclick="location.href='/api/v1/admin/Decline/{{ id }}'" value="Decline"/>
                    </td>
                </tr>
            </form>
        {{/each}}
    </table>
</div>
</body>
</html>
{{/partial}}
{{#partial "scripts"}}
    <script type="text/javascript" src="/js/profileHandler.js"></script>
{{/partial}}

{{> tier2Base}}