<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap.min.css">
    <title>
        Secure Banking System
        {{#if title}}
            - {{title}}
        {{/if}}
    </title>

    {{#block "head"}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/block}}
</head>
<body>
<header>
    <ul>
        <li><a class="active" href="/api/v1/user/login">Secure Banking System</a></li>
    </ul>
</header>

<div class="container">
    <form class="form-horizontal" method="POST" action="/api/v1/user/reset-password/init">
        <h3>Enter the Email ID associated with your account:</h3>
        <div class="form-group">
            <div class="col-lg-8">
                <input class="form-control" type="email" id="email" name="email" pattern="\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}\b" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Sent OTP">
                <span></span>
                <input type="reset" class="btn btn-primary" value="Reset">
            </div>
        </div>
    </form>
</div>
<div class="container" id="checkMail" style="display: none">
    <h3>If the email id is associated with an account you will get an email with the OTP and the link to reset your password</h3>
</div>
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>