<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.20/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/passwordValidation.js"></script>
    <title>
        Secure Banking System
        {{#if title}}
            - {{title}}
        {{/if}}
    </title>

    {{#block "head"}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/block}}
</head>
<body>
<header>
    <ul>
        <li><a class="active" href="/api/v1/user/login">Secure Banking System</a></li>
    </ul>
</header>

<div class="container">
    <form class="form-horizontal" method="POST" action="/api/v1/user/reset-password/finish">
        <h3>Enter the Reset Key sent to your email:</h3>
        <div class="form-group">
            <div class="col-lg-8">
                <label class="col-lg-3 control-label">Reset Key:</label>
                <input class="form-control" type="text" id="key" name="key" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Password:</label>
            <div class="col-lg-8">
                <input class="form-control" type="password" id="password" name="newPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#\$%\^\&*\)\(+=._-])[A-Za-z\d@$!%*?&]{8,}$" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Confirm Password:</label>
            <div class="col-lg-8">
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#\$%\^\&*\)\(+=._-])[A-Za-z\d@$!%*?&]{8,}$" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
        </div>
    </form>
</div>

</body>
</html>