{{#partial "bodyHeader"}}
    <ul>
        <li><a class="active" href="">Secure Banking System</a></li>
        <li><a href="">Account Summary</a></li>
        <li><a href="">Credit/Debit</a></li>
        <li><a href="">Transfer</a></li>
        <li><a href="">Payment Request</a></li>
    </ul>
{{/partial}}

{{#partial "profileUser"}}
    <input type="button" id="profileBtn" class="btn btn-primary" onclick="editProfile()" value="Edit Profile">
{{/partial}}

{{> profile}}