{{#partial "bodyHeader"}}
    <ul>
        <li><a class="active" href="/api/v1/tier2/transactions">Secure Banking System</a></li>
        <li><a href="/api/v1/tier2/transactions">View Transaction Requests</a></li>
        <li><a href="/api/v1/tier2/allUsers">Access User Accounts</a></li>
        <li><a href="/api/v1/tier2/details">Profile</a></li>
    </ul>
{{/partial}}

{{#partial "profileUser"}}
{{/partial}}

{{> profile}}