{{#partial "bodyHeader"}}
    <ul>
        <li><a class="active" href="">Secure Banking System</a></li>
        <li><a href="">View Employee Requests</a></li>
        <li><a href="">Access Logs</a></li>
        <li><a href="">Access Employee Accounts</a></li>
    </ul>
{{/partial}}

{{#partial "profileUser"}}
    <input type="button" id="profileBtn" class="btn btn-primary" onclick="editProfile()" value="Edit Profile">
{{/partial}}

{{> profile}}