<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/tier2.css">

</head>
<body>

<div class="sidenav">
  <a href="sidebar.html">Home</a>
  <a href="Auth.html">Authorize Transactions</a>
  <a href="account.html">User Control</a>
</div>

<div class="main">
<div class="userpic">
  <img src="https://static.change.org/profile-img/default-user-profile.svg" class="img-responsive" alt="">
</div>
<div class="profile-usertitle-name">
Employee Name
</div>
<div class="profile-employee-type">
Tier 2
</div>
<div class="profile-address">
Employee Address
</div>
  <p> Employee home page</p>
</div>


</body>
</html>
