{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <table id="results" class="display cell-border hover" width="100%">
            <thead>
            <tr>
                <th align="center">User ID</th>
                <th align="center">Account Number</th>
                <th align="center">Account Type</th>
                <th align="center">Balance</th>
            </tr>
            </thead>
            <tbody>
            {{#each result }}
                <form method="POST">
                    <tr>
                        <td align="center">{{ userId }}</td>
                        <td align="center">{{ accountId }}</td>
                        <td align="center">{{ accountType }}</td>
                        <td align="center">{{ balance }}</td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
{{/partial}}
{{> tier1Base}}