{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <table id="results" class="display cell-border hover" width="100%">
            <thead>
            <tr>
                <th align="center">Account Number:</th>
                <th align="center">Account Type:</th>
                <th align="center">Balance</th>
                <th align="center">Close</th>
            </tr>
            </thead>
            <tbody>
            {{#each result }}
                <tr>
                    <td align="center">{{ id }}</td>
                    <td align="center">{{ accountType }}</td>
                    <td align="center">{{ accountBalance }}</td>
                    <td>
                        <form method="post" action="/api/v1/tier2/closeAccount" class="inline">
                            <input type="text" name="id" value="{{id}}" style="display: none">
                            <input id="delete" class="btn btn-danger"  type="submit" value="Close Account"/>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
{{/partial}}
{{> tier2Base}}