body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../bg1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.Signup-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form input{
	font-family:"Roboto",sans-serif;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form input[type="radio"] {float: left; width: 20px; margin-right: 10px;}
.form label               {float: left; width: 100px;}
.form input[type="submit"] {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color:#FFFFFF;
	font-size: 14px;
	cursor: pointer;
}
.form input[type="submit"]:hover,.form input[type="submit"]:active{
	background: #228B22;
}
#message {
	display:none;
	background: #f1f1f1;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
}

#message p {
	padding: 10px 35px;
	font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
	color: red;
}

